h4 {
  text-align: center;
  color: blue;
  margin-top: 0 auto;
}


h1 {
  text-align: center;
  color: red;
  margin-bottom: 0px;
}

body{
  background-color: #999999;
  background-image: url("http://i.imgur.com/TqodS.jpg");
}

.board{
  margin:0 auto;
  display:inherit;
  text-align: center;
  width:800px;
  height:600px;
}

.card{
  width: 230px;
  height: 180px;
  background-color: white;
  display: inline-block;
  font-size: 230px;
  padding-top:-10px;
  padding-bottom:30px;
  margin-top: 20px;
  margin-left: 5px;
}


#resetbutton {
  width: 230px;
  height: 50px;
  margin: 0 auto;
  font-size: 30px;
  background-color: black;
  color: #F1E9B8;
  text-align: -webkit-center;
  padding-top: 10px;
}
